.body {
    min-height: 200vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #115e59;
    border-bottom: 2px solid #0f766e;
}

.header .container {
    display: flex;
    align-items:center ;
    justify-content: space-between;
}

.container {
    height: 100%;
    width: 100%;
    max-width: 90%;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.menu {
    margin-left: 30%;
    font-family: Arial;
    display: flex;
    text-decoration: none;
    font-weight: 600;
}

.menu li {
    transition: bac 1s linear;
    margin-left: 50px;
}

.menu li a {

    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.menu li a:hover {
    color:#14b8a6;
    text-decoration: underline;
    text-decoration: none;
}

.main {
    width: 100%;
    margin: 90 0;
}

.main_about {
    width: 100%;
    margin: 90 0;
    font-family: arial;
}

.main_home {
    width: 100%;
    margin-top: 90px;
    top: 0;
    left: 0;
}

.main_wiki {
    width: 100%;
    height: 70.7vh;
    font-family: Arial;
    display: flex;
    min-height: 800px;
    margin-top: 90px;
}

.main_invis {
    width: 100%;
    min-height: 765px;
    height: 85vh;
    margin: 90 0px;
    font-family: Arial;
    display: flex;
}


.rules {
    width: 100%;
    min-height: 190vh;
}

.osnova {
    width: 100%;
    background: #134e4a;;
    color: #fff;
    font-family: Arial;
    font-size: 20px;
    padding: 100px 40px;
}

.content {
    width: 100%;
    top: 0;
    left: 0;
}

.proect {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img_pr {
    display: flex;
    flex-wrap: wrap;
}

.img1 {
    width: 50%;
    padding: 10 20px;
}

.img1 img {
    border-radius: 10px;
    box-shadow: 0 1px 8px grey;
}

.img2 {
    width: 50%;
    padding: 10 20px;
}

.img2 img {
    box-shadow: 0 1px 8px grey;
    border-radius: 10px;
}

.img1_2 {
    width: 50%;
    padding: 10 20px;
}

.img1_2 img {
    box-shadow: 0 1px 8px grey;
    border-radius: 10px;
}

.img2_1 {
    width: 50%;
    padding: 10px 20px;
}

.img2_1 img {
    box-shadow: 0 1px 8px grey;
    border-radius: 10px;
}
.img3_1 {
    width: 50%;
    padding: 10 20px;
}
.img3_1 img {
    box-shadow: 0 1px 8px grey;
    border-radius: 10px;
}
.img3_2 {
    width: 50%;
    padding: 10 20px;
}
.img3_2 img {
    box-shadow: 0 1px 8px grey;
    border-radius: 10px;
}

.ivent {
    display: flex;
    flex-direction: column;
}

.img_iv {
    display: flex;
}

.img3 {
    width: 50%;
    padding: 10 20px;
}

.img4 {
    width: 50%;
    padding: 10 20px;
}

.img3 img {
    box-shadow: 0 1px 8px grey;
    border-radius: 10px;
}

.img4 img {
    box-shadow: 0 1px 8px grey;
    border-radius: 10px;
}

.one_rules {
    font-family: Arial;
    left: 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 8px grey;
    width: 101%;
    margin: 0 -25;
}

.two_rules {
    font-family: Arial;
    left: 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 8px grey;
    width: 101%;
    margin: 0 -25;
}

.three_rules {
    font-family: Arial;
    left: 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 8px grey;
    width: 101%;
    margin: 0 -25;
}

.four_rules {
    font-family: Arial;
    left: 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 8px grey;
    width: 101%;
    margin: 0 -25;
}

.five_rules {
    font-family: Arial;
    left: 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 8px grey;
    width: 101%;
    margin: 0 -25;
}

.sez {
    width: 97%;
    height: 50px;
    border-radius: 5px;
    border: 2px rgb(201, 196, 196) solid;
    margin: 10 20;
}

.menu_sez {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    margin: 9 300px;
}

.menu_sez li {
    margin-left: 30px;
}

.menu_sez li a {
    text-decoration: none;
    color: black;
}

.menu_sez li a:hover {
    color:#14b8a6;
    text-decoration: underline;
    text-decoration: none;
}

.but_wik {
    width: 30%;
}

.osn_wik {
    width: 70%;
}

.kom {
    width: 250px;
    height: 80px;
    left: 0;
    border-radius: 5px;
    border: 2px rgb(201, 196, 196) solid;
    margin: 10 20px;
    display: flex;
}


.ram {
    width: 250px;
    left: 0;
    height: 80px;
    border-radius: 5px;
    border: 2px rgb(201, 196, 196) solid;
    margin: 20 20px;
    display: flex;
}

.comand {
    width: 600px;
    margin: 55 0;
    border-radius: 5px;
    border: 2px rgb(201, 196, 196) solid;
    font-size: 20px;
    font-weight: 600;
    padding: 20 25;
}

.comand p {
    margin-top: 10px;
}

.frame {
    width: 600px;
    margin: 55 0;
    border-radius: 5px;
    border: 2px rgb(201, 196, 196) solid;
    font-size: 20px;
    font-weight: 500;
    padding: 20 25;
}


.footer {
    width: 100%;
    height: 110px;
    bottom: 0;
    background-color: #115e59;
    display: flex;
    margin-top: 50px;
}

.footl {
    width: 85%;
}

.footr {
    width: 15%;
}

.footr a img {
    margin: 15 0px;
}

.img_foot {
    text-align: center;
}

.footer p a {
    color: white;
}

@media (max-width: 1090px) {
    .menu {
        margin-left: 0%
    }
}

@media (max-width: 770px) {
    .menu li {
        margin-left: 40px;
    }
    .osnova {
        font-size: 15px;
        padding: 15px 20px;
    }
    .img_pr {
        flex-direction: column;
    }
    .img1 {
        width: 100%;
    }
    .img2 {
        width: 100%;
    }
    .img1_2 {
        width: 100%;
    }
    .img2_1 {
        width: 100%;
    }
    .img3_1 {
        width: 100%;
    }
    .img3_2 {
        width: 100%;
    }
    .img_iv {
        flex-direction: column;
    }
    .img3 {
        width: 100%;
    }
    .img4 {
        width: 100%;
    }
    .footer {
        height: 100px;
    }
    .logo2 {
        font-size: 20px;
    }
    .main_invis {
        height: 115vh;
    }
    .main_wiki {
        height: 80vh;
    }
}

@media (max-width: 770px) {
    .menu li {
        margin-left: 30px;
    }
}
@media (max-width: 425px) {
    .main_wiki {
        height: 80vh;
    }
    .main_invis {
        height: 110vh;
    }
}

@media (max-width: 1020px) {
    .main_wiki {
        flex-direction: column;
    }
    .main_invis {
        flex-direction: column;
    }
    .but_wik {
        width: 100%;
        display: flex;
    }
    .osn_wik {
        width: 100%;
    }
    .kom {
        margin: 50px -80px;
    }
    .ram {
        margin: 50 90px
    }
    .comand {
        margin: 0 20;
    }
    .frame {
        margin: 0 20;
    }
    .main_invis {
        height: 110vh;
    }
}

@media (max-width: 625px) {
    .but_wik {
        flex-direction: column;
        align-items: center;
    }
    .kom {
        margin: 0 0;
    }
    .ram {
        margin: 0 0;
        margin-top: 10;
    }
    .ram img {
        margin: 10 15px;
        width: 70;
    }
    .comand {
        margin-top: 10;
        width: 95%;
        margin-left: 10;
    }
    .frame {
        width: 95%;
        margin-top: 10;
        margin-left: 10;
    }
}
@media (max-height: 620px) {
    .main_wiki {
        height: 90vh;
    }
}
@media (max-height: 540px) {
    .main_wiki {
        height: 100vh;
    }
}

@media (max-width: 525px) {
    .footer {
        height: 160px;
        flex-wrap: wrap;
    }
    .footl {
        width: 100%;
        height: 70%;
    }
    .footr {
        width: 100%;
        height: 30%;
    }
    .logo2 {
        margin: 0 0px;
        text-align: center;
    }
    .foottext {
        margin: 0 0px;
        text-align: center;
    }
    .footr a img {
        margin: -18px 0px;
    }
    .img_foot {
        text-align: center;
    }
}








nav{
    padding: 0;
    margin: 0;
}

.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* .menu li{ 
    display: inline-block;
}

.menu li a{
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}
*/
.menuToggle{  
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

@media( max-width: 700px){
    .menuToggle{
        display: block;
    }
    .menu{
        display: none;
        position: absolute;
        background: #115e59;
        width: 100%;
        height: 200px;
        left: 0;
        top: 90;
    }
    .menu li{
        display: block;
        text-align: center;
        margin: 0;
        margin-top: 10px;
    }
}

.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.hamburger {
    width: 40px;
    height: 4px;
    transform: translate(-50%, -50%);
    background: #fff;
    transition: 0.5s;
    display: inline-block;
    margin-left: 12px;
}

.hamburger:before,
.hamburger:after {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    background: #fff;
    transition: 0.5s;
}

.hamburger:before {
    top: -16px;
}

.hamburger:after {
    top: 16px;
}

.icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}
